<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.aorise.petition">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_"/>
    <application>

        <activity
            android:name="cn.aorise.petition.ui.activity.MainActivity"
            android:label="@string/petition_title_activity_main"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.aorise.petition.ui.activity.ContactsActivity"
            android:label="@string/petition_title_activity_contacts"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.aorise.petition.ui.activity.AboutActivity"
            android:label="@string/petition_title_activity_about"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestActivity"
            android:theme="@style/All.theme"
            android:label="@string/petition_title_activity_request"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestSubmitActivity"
            android:label="@string/petition_title_activity_request"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestContactListActivity"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddContactPeopleActivity"
            android:label="@string/petition_add_contact"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestFillContentActivity"
            android:label="@string/petition_fill_content"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddAdjunctActivity"
            android:label="@string/petition_add_adjunct"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SuggestCollectActivity"
                    android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SuggestCollectAddNewActivity"
            android:theme="@style/All.theme"
            android:label="@string/peititon_suggest_collect"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SuggestCollectAddAdjunctActivity"
            android:theme="@style/All.theme"
            android:label="@string/petition_add_adjunct"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.LoginActivity"
            android:label="@string/petition_login_name"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegistActivity"
            android:label="@string/petition_user_regist"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.QueryEvaluateActivity"
            android:label="@string/petition_title_query"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.QueryEvaluateDetailActivity"
            android:label="@string/petition_title_query"
            android:theme="@style/All.theme"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddressChooseActivity"
            android:label="@string/petition_incident_site"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddressChooseActivity01"
            android:label="@string/petition_incident_site"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddressChooseActivity02"
            android:label="@string/petition_incident_site"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddQuestActivity"
            android:label="@string/petition_request_question"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddQuestActivity01"
            android:label="@string/petition_request_question"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddQuestActivity02"
            android:label="@string/petition_request_question"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddContactPeopleAddress"
            android:label="@string/petition_incident_site"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddContactPeopleAddress01"
            android:label="@string/petition_incident_site"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RequestAddContactPeopleAddress02"
            android:label="@string/petition_incident_site"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.SuggestCollectTypeActivity"
            android:label="@string/petition_suggest_collect_type"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SuggestCollectTypeActivity01"
            android:label="@string/petition_suggest_collect_type"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SuggestCollectTypeActivity02"
            android:label="@string/petition_suggest_collect_type"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.SuggestCollectFillContentActivity"
            android:label="@string/petition_fill_content"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.RegistAddressActivity"
            android:label="@string/petition_area_choose"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegistAddressActivity01"
            android:label="@string/petition_area_choose"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegistAddressActivity02"
            android:label="@string/petition_area_choose"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.GuideRulesActivity"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.GuideNoticeMatterActivity"
            android:label="@string/petition_notic_matter"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.GuideRulesDetailActivity"
            android:label="@string/petition_guide_name_01"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.GuideFlowPathActivity"
            android:label="@string/petition_guide_name_04"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.GuideFlowPathActivity01"
            android:label="@string/petition_guide_name_03"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.PersonalChangeInformationActivity"
            android:label="@string/petition_personal_info"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.PersonalChangeInformationAddressActivity"
            android:label="@string/petition_area_choose"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PersonalChangeInformationAddressActivity01"
            android:label="@string/petition_area_choose"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PersonalChangeInformationAddressActivity02"
            android:label="@string/petition_area_choose"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PersonalChangeInformationNationChooseActivity"
            android:label="@string/petition_select_nation"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.PersonalChangePhoneNumberActivity"
            android:label="@string/petition_change_phonenumber"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.PersonalChangePhoneNumberActivity01"
            android:label="@string/petition_change_phonenumber"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.PersonalChangePasswordActivity"
            android:label="@string/petition_change_password"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.QueryEvaluateDetailAdjunctActivity"
            android:label="@string/petition_add_adjunct"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.QueryEvaluateDetailAdjunctPictureActivity"
            android:theme="@style/AppTheme.FullscreenTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.LoginForgetPasswordActivity"
            android:label="@string/petition_found_password"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.LoginForgetPasswordActivity01"
            android:label="@string/petition_found_password"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.PetitionChooseZJLXActivity"
            android:label="@string/petition_choose_zjlx"
            android:theme="@style/All.theme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
